git+git://github.com/sunlightlabs/saucebrush.git#egg=saucebrush
South==1.0.2
raven==6.10.0

requests==2.28.2
requests-oauth==0.4.1

us==2.0.2
census==0.8.18

django==4.0.3
dj-database-url==0.5.0
pymongo==4.0.2

# boundary service requirements
django-appconf==1.0.5
django-jsonfield==1.4.1
django-tastypie==0.14.4
-e git://github.com/tauberer/represent-boundaries.git@1186ce64f786929ce5efb28515129d760e1f0c9a#egg=boundaries

gunicorn==20.1.0
